# It contains environment variables used for configuration.

# Environment: production or development
ENV='your_environment' # e.g., production or development

# Application name
APP_NAME='your_app_name'

# Application logo URL
APP_LOGO_LINK='https://your-domain.com/logo.svg'

# Base URL for the API
API_BASE_URL='https://your-api-base-url.com'

# Socket URL for WebSocket connections
SOCKET_URL='https://your-socket-url.com'

# STUN Server URL 
# This is used for NAT traversal in WebRTC applications.
# It helps in establishing peer-to-peer connections.
STUN_URL=stun:your.stun.server:3478

# TURN Servers
# TURN servers are used to relay media streams when direct peer-to-peer connections cannot be established.
# These URLs include the transport protocol (UDP or TCP) and credentials for authentication.
TURN_URL_1=turn:your.turn.server:3478
TURN_URL_UDP=turn:your.turn.server:3478?transport=udp
TURN_URL_TCP=turn:your.turn.server:3478?transport=tcp

# TURN server credentials
TURN_USERNAME=your_turn_username
TURN_CREDENTIAL=your_turn_credential

# WebRTC configuration
SDP_SEMANTICS=unified-plan
ICE_POOL_SIZE=0
ICE_POLICY=relay

# iOS method channels
IOS_AUDIO_METHOD_CHANNEL=com.yourcompany.yourapp/audiomode
IOS_NAVIGATION_METHOD_CHANNEL=com.yourcompany.yourapp/navigation
